<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base</title>

    <!-- Css Files -->
    <link href="{{ asset('template/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/flaticon.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/slick-slider.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/fancybox.css') }}" rel="stylesheet">
    <link href="{{ asset('template/style.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/color.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">
    
  </head>
  <body>

    <!-- jQuery (necessary for JavaScript plugins) -->
    <script type="text/javascript" src="{{ asset('template/script/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/slick.slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/jquery.countdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/progressbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/counter.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{{ asset('template/script/functions.js') }}"></script>

  </body>
</html>