<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
<style>
#imgbox1
{
    width:50px;
}
#imgbox2
{
    padding-top:10px;
    width:50px;
}
#imgbox3
{
    width:50px;
}
</style>
    <!-- Css Files -->
    <link href="{{ asset('template/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/flaticon.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/slick-slider.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/fancybox.css') }}" rel="stylesheet">
    <link href="{{ asset('template/style.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/color.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/favico.ico') }}">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!--// Main Wrapper \\-->
    <div class="education-main-wrapper">

        <!--// Header \\-->
        <header id="education-header" class="education-header-one">
            
            <!--// TopStrip \\-->
            <div class="education-top-strip education-bgcolor">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-6">
                            <ul class="education-userinfo">
                                <li><i class="fa fa-clock-o"></i> 08:00 - 06:00</li>
                                <li><i class="fa fa-phone"></i> 0033 6 16 30 77 54</li>
                            </ul>
                        </aside>
                        <aside class="col-md-6">
                            <ul class="education-user-section">
                                <li>
                                    <div class="education-language">
                                        <a><i class="fa fa-globe"></i> Français</a>
                                    </div>
                                </li>
                                <li> <a href="{{ path('connexion') }} "><i class="fa fa-user"></i>Connexion</a></li>
                                <li> <a href="#" data-toggle="modal" data-target="#signupModal"><i class="fa fa-sign-in"></i>Deconnexion</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// TopStrip \\-->

            <!--// MainHeader \\-->
            <div class="education-main-header">
                    <div class="row">
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class="active"><a href={{ path('index') }}>ACCUEIL</a></li>
                                    <li><a href={{ path('gestionCarriere') }}>GESTION DE CARRIERE</a>

                                        <ul class="education-dropdown-menu">
                                            <li><a href={{path('bilanCompetence')}}>Bilan de compétences</a></li>
                                            <li><a href={{path('validationAcquis')}}>Validation des aquis de l'experience</a></li>
                                            <li><a href={{path('bilanMiCarriere')}}>Bilan Mi-Carriere</a></li>
                                            <li><a href={{path('coching')}}>Coaching</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="formations">FORMATIONS</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href={{path('formation')}}>Informatique</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href={{path('conceptDev')}}>Concepteur Développeur Informatique</a></li>
                                                    <li><a href={{path('adminReso')}}>Administrateur Systèmes et Réseaux</a></li>
                                                    <li><a href={{path('techAssist')}}>Technicien d'Assistance en Informatique</a></li>
                                                    <li><a href={{path('techSup')}}>Technicien Supérieur en Support Informatique</a></li>
                                                </ul>
                                            </li>
                                            <li><a href={{path('formationRh')}}>Ressources Humaines</a></li>
                                            <li><a href={{path('management')}}>Management</a></li>
                                            <li><a href={{path('compta')}}>Finance et comptabilité</a></li>
                                            <li><a href={{path('devPerso')}}>Développement personnel</a></li>
                                            <li><a href={{path('hygieneSecur')}}>Hygiène et sécurité</a></li>
                                            <li><a href={{path('langue')}}>Langues</a></li>
                                            <li><a href={{path('handicap')}}>Handicap</a></li>
                                        </ul>
                                    </li>
                                    <li><a href={{path('creationEntreprise')}}>CREATION D'ENTREPRISE</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href={{path('methodologieEntrprise')}}>Méthodologie</a></li>
                                            <li><a href={{path('financementEentreprise')}}>Financement</a></li>
                                            <li><a href= {{path('formatioAtelier')}}>Formations et ateliers</a></li>
                                        </ul>
                                    </li> 
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                        <aside class="col-md-2"><a href="{{ path('index') }}" class="education-logo"><img src="{{ asset('img/alt-rh-logo.png')}}" alt=""></a></aside>
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                  <ul class="nav navbar-nav">
                                     <li><a href={{path('hadic')}}>HANDICAP</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href= {{path('prestationsAgefiph')}}>Prestations Agefiph</a></li>
                                            <li><a href={{path('diagnostiqueConseil')}}>Diagnostic conseil</a></li>
                                            <li><a href={{path('maintienEmploiHandicap')}}>Bilan de maintien dans l'emploi</a></li>
                                            <li><a href={{path('handicapInge')}}>Ingénierie de formations TH</a></li>
                                            <li><a href={{path('creationActivHandicap')}}>Création d'activité handicap</a></li>
                                        </ul>
                                    </li>
                                    <li><a href={{path('recrutement')}}>RECRUTEMENT</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href={{path('RecrutMetho')}}>Méthodologie</a></li>
                                            <li><a href={{path('prestRecrutement')}}>Prestations de recrutement</a></li>
                                            <li><a href={{path('recrutInternational')}}>Recrutement à l'engagementinternational</a></li>
                                            <li><a href={{path('engagement')}}>Nos engagements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href={{path('offreEmploi')}}>OFFRES D'EMPLOI</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href={{path('espaceCandiadat')}}>Espace Candidats</a></li>
                                            <li><a href={{path('espaceEntreprise')}}>Espace Entreprise</a></li>
                                            <li><a href={{path('offreStage')}}>Offres d'emploi et stages</a></li>
                                            <li><a href={{path('conseilCoach')}}>Conseils du coach</a></li>
                                            <li><a href={{path('engagementEmploi')}}>Nos engagements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href={{path('contact')}}>CONTACT</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="contact/nos-implantations">Nos implantations</a></li>
                                            <li><a href="contact/nous-contacter">Nous contacter</a></li>
                                        </ul>
                                    </li> 
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                    </div>
            </div>
            <!--// MainHeader \\-->
            <!--// MainHeader \\-->

        </header>
        <!--// Header \\-->

{% block body %}{% endblock %}

            <!--PARTENAIRES-->

 <div class="education-main-section education-partner-full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <h2>Nos PARTENAIRES</h2>
                            </div>
                            <div class="education-partner">
                                <ul>
                                    <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-oseo.jpg') }}"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-afdas.jpg') }}"   alt=""></a></li>
                                     <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-agefiph.jpg') }}"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-apec.jpg') }}"   alt=""></a></li>
                                    <li><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-banque-credit-agricole.jpg') }}"  alt=""></a></li>
                                     <li><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-banque-lcl.jpg') }}"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-enrope-sengage-en-france.jpg') }}"   alt=""></a></li>
                                     <li><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-centre-inffo.jpg') }}" alt=""></a></li>
                                      <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-fafsea.jpg') }}"  alt=""></a></li>
                                       <li><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-ffp.jpg') }}"  alt=""></a></li>
                                        <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-fongecif.jpg') }}"  alt=""></a></li>
                                         <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-france-initiative.jpg') }}"  alt=""></a></li>
                                          <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-opcalia.jpg') }}"  alt=""></a></li>
                                           <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-pole-emploi.jpg') }}"   alt=""></a></li>
                                            <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-unifaf.jpg') }}"  alt=""></a></li>
                                             <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-uniformation.jpg') }}"   alt=""></a></li>
                                              <li ><a href="404.html"><img src="{{ asset('img/partenaires/partenaire-val-d-oise-departement.jpg') }}"  alt=""></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

            <!--// Main Section \\-->
         
            <!--// Main Section \\-->

        </div>
        <!--// Main Content \\-->

        <!--// Footer \\--> 
        <footer id="education-footer" class="education-footer-one"> 
            <span class="education-footer-pattren"></span> 
             
            <!--// Footer Widget \\--> 
            <div class="education-footer-widget"> 
                <div class="container"> 
                    <div class="row"> 
                        <!--// Widget Contact Info \\--> 
                        <aside class="col-md-4 widget widget_contact_info"> 
                            <a href="{{ path('index') }}" class="education-footer-logo"><img src="{{ asset('img/alt-rh-logo.png') }}" alt=""></a>
                        </aside> 
                        <aside class="col-md-4 widget widget_contact_info"> 
                            <ul> 
                                <li><i class="education-color fa fa-home"></i>
                                        ALT RH Consulting
                                        Tour Ernest & Young  
                                        9-11 Allée de l'arche 
                                        92671 Paris La Défense
                                </li> 
                                <li><i class="education-color fa fa-phone"></i>01 49 97 15 11</li> 
                                <li><i class="education-color fa fa-envelope"></i><a href="mailto:name@email.com">contact@alt-rh.com</a></li> 
                            </ul> 
                        </aside> 
                        <!--// Widget Contact Info \\--> 
                        <!--// Widget Gallery \\--> 
                        <aside class="col-md-4 widget widget_gallery"> 
                            <div class="education-footer-title"> <h4>Réseaux Sociaux</h4> </div> 
                            <ul> 
                                <li><a data-fancybox-group="group" href="https://www.facebook.com/AltRh-1236526719789145/" id="imgbox1" class="fancybox"><img src="{{ asset('img/icons/facebook.png') }}" alt=""></a></li> 
                                <li><a data-fancybox-group="group" href="https://twitter.com/AltRhConsulting" id="imgbox2" class="fancybox"><img src="{{ asset('img/icons/twitter.png') }}" alt=""></a></li> 
                                <li><a data-fancybox-group="group" href="https://plus.google.com/u/0/114911956157970731353" id="imgbox3" class="fancybox"><img src="{{ asset('img/icons/googleplus.png') }}" alt=""></a></li> 
                            </ul> 
                        </aside> 
                        <!--// Widget Gallery \\--> 
                    </div> 
                </div> 
            </div> 
            <!--// Footer Widget \\--> 
 
            <!--// CopyRight \\--> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="education-copyright"> 
                            <p>PROJECT ALT-RH CONSULTING© 2017. Tous droits réservés.
                             <a href="index.html">Project Alt rh</a></p> 
                            <ul> 
                                <li><a href="#">Politique de confidentialité</a></li> 
                                <li><a href="#">Termes</a></li> 
                                <li><a href="#">Plan du site</a></li> 
                                <li><a href="#">Achat</a></li> 
                            </ul> 
                            <a href="#" class="education-back-top"><i class="fa fa-angle-up"></i></a> 
                        </div> 
                    </div> 
                </div> 
            </div> 
            <!--// CopyRight \\--> 
 
        </footer> 
        <!--// Footer \\--> 
    <!--// Main Wrapper \\--> 
 
    <!-- LoginModal --> 
    <div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog"> 
        <div class="modal-dialog" role="document"> 
            <div class="education-login-box"> 
                <a href="#" data-dismiss="modal" class="education-login-close"><i class="icon-uniF106"></i></a> 
                <h4>CONNECTEZ À VOTRE COMPTE</h4> 
                <form> 
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }"> 
                    <input type="password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }"> 
                    <a href="#">Mot de passe oublié?</a> 
                    <div class="clearfix"></div> 
                    <label><input type="submit" value="Sign In"></label> 
                </form> 
                <h4>Essayez Socials Network</h4> 
                <ul class="login-network"> 
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li> 
                    <li class="education-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li> 
                    <li class="education-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li> 
                </ul> 
                <p>Pas encore Membre? <a href="#" class="education-color">S'inscrire Maintenant!</a></p> 
            </div> 
        <div class="clearfix"></div> 
        </div> 
    </div> 
 
    <!-- SignupModal --> 
    <div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog"> 
        <div class="modal-dialog" role="document"> 
            <div class="education-login-box"> 
                <a href="#" data-dismiss="modal" class="education-login-close education-color"><i class="icon-uniF106"></i></a> 
                <h4>S'inscrire Maintenant</h4> 
                <form> 
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }"> 
                    <input type="text" value="Type your password*" onblur="if(this.value == '') { this.value ='Type your password*'; }" onfocus="if(this.value =='Type your password*') { this.value = ''; }"> 
                    <input type="text" value="Confirm your password*" onblur="if(this.value == '') { this.value ='Confirm your password*'; }" onfocus="if(this.value =='Confirm your password*') { this.value = ''; }"> 
                    <a href="#">Mot de passe oublié?</a> 
                    <div class="clearfix"></div> 
                    <label><input type="submit" value="Sign Up"></label> 
                </form> 
                <h4>Essayez Socials Network</h4> 
                <ul class="login-network"> 
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li> 
                    <li class="education-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li> 
                    <li class="education-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li> 
                </ul> 
                <p>Pas encore Membre ? <a href="#" class="education-color">Login - Maintenant !</a></p> 
            </div> 
        <div class="clearfix"></div> 
        </div> 
    </div> 

    <!-- jQuery (necessary for JavaScript plugins) -->
    <script type="text/javascript" src="{{ asset('template/script/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/slick.slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/jquery.countdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/progressbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/script/counter.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{{ asset('template/script/functions.js') }}"></script>
  </body>
</html>