{% extends '::base.html.twig' %}
{% block title %}Bilan Mi-Carrière - ALT-RH CONSULTING{% endblock %}
{% block body %}

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>BILAN MI CARRIERE</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
							<li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Gestion de carrière</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Bilan Mi-Carrière</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
					<div class="row">
						
						<div class="col-md-12">
                            <div  style="margin-left:200px;" class="education-shopwrap">
                                <figure><a href="shop-detail.html"><img src="{{asset('img/illustration/bilan-mi-carriere.jpg')}}" alt=""></a></figure>
                                <div class="education-shop-detail-text">
                                    <h4><a href="shop-detail.html">BILAN MI-CARRIÈRE </a></h4>
									<ul class="education-list-style-two">
										<li><i class="fa fa-check-square-o"></i>Comment envisager une seconde partie de carrière?</li>
										<li><i class="fa fa-check-square-o"></i>Quel projet professionnel après 45 ans?</li>
										<li><i class="fa fa-check-square-o"></i>Comment redynamiser une carrière professionnelle?</li>
									</ul>
                                    <p>Outil de gestion de carrière, le bilan mi-carrière permet de faire le point sur son parcours professionnel et de réfléchir sur ses perspectives d'évolutions.<br>

										Le bilan mi-carrière contribue au "Plan national d'action concerté pour l'emploi des seniors", il répond à la volonté d'un maintien en activité des seniors, et vise à favoriser une meilleure adéquation entre le marché du travail et la proportion croissante des seniors actifs.<br>

									</p>
                                </div>
								<div class="row">
								<div class="education-section-heading"><h2>OBJECTIFS</h2></div>
									<div class="col-md-5">
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Favoriser le maintien dans l'emploi par une évolution de l'activité ou un changement de poste.</li>
												<li><i class="fa fa-check-square-o"></i>Faciliter la réintégration rapide dans un emploi dans le cadre de restructurations.</li>
												<li><i class="fa fa-check-square-o"></i>Faire réussir les transitions professionnelles après la perte d'un emploi.</li>	
												<li><i class="fa fa-check-square-o"></i>Remobiliser les seniors les plus âgés aspirant à un retrait de l'activité.</li>
												<li><i class="fa fa-check-square-o"></i>Mettre en valeur l'expérience et les compétences singulières du bénéficiaire.</li>	
												<li><i class="fa fa-check-square-o"></i>Aider à projeter cette expérience dans des perspectives professionnelles nouvelles.</li>	
															
										</ul>
										<div class="education-section-heading"><h2>MÉTHODE</h2></div>
										<p>Entretiens individuels, outils de positionnement, tests, analyse de poste, portefeuille de compétences, mises en situation, questionnaires...</p>
									</div>
									
	
									<div class="col-md-5">
										<div class="education-event-organizer">
											<div class="education-section-heading"><h2>DURÉE </h2></div>
											<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Ce bilan à une durée de 4 à 12 semaines et d'un volume de 24 heures au maximum pour le bénéficiaire.</li>
												<li><i class="fa fa-check-square-o"></i>Contractualisation ad hoc entre l'entreprise ou l'organisme du Service Public de l'Emploi, le prestataire et le bénéficiaire.</li>
											</ul>
											
											<div class="education-section-heading"><br><h2>PUBLIC </h2></div>
											<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Actifs de plus de 45 ans.</li>
												<li><i class="fa fa-check-square-o"></i>Actifs ayant plus de 20 ans d'ancienneté professionnelle.</li>
												<li><i class="fa fa-check-square-o"></i>Salariés.</li>
												<li><i class="fa fa-check-square-o"></i>Demandeurs d'emploi de 50 ans et plus.</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="education-section-heading"><h2>DÉROULEMENT DU BILAN MI-CARRIÈRE :</h2></div>
								<div class="row">
									<div class="col-md-5">
									<h5>MODALITÉS DE MISE EN OEUVRE :</h5>
									<p>Si vous êtes salarié, vous pouvez obtenir une prise en charge :</p>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Analyse de votre demande par un conseiller référent qui vous suivra tout au long de votre bilan.</li>
												<li><i class="fa fa-check-square-o"></i>Analyse de l'expérience, des compétences et aptitudes personnelles, des motivations et des freins éventuels.</li>
												<li><i class="fa fa-check-square-o"></i>Exploration des possibilités de mobilité professionnelles.</li>											
												<li><i class="fa fa-check-square-o"></i>Construction du plan d’action, formalisation du projet de seconde partie de carrière.</li>											
										</ul>
									</div>
									<div class="col-md-5">
										<h5>ÉTAPES DU BILAN MI-CARRIERE :</h5>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Entretien de contractualisation.</li>
												<li><i class="fa fa-check-square-o"></i>Entretien de mise à plat de la situation professionnelle actuelle.</li>
												<li><i class="fa fa-check-square-o"></i>Diagnostic de la situation problème : les freins et ressources motivationnelles.</li>											
												<li><i class="fa fa-check-square-o"></i>Diagnostic de la situation problème : l'identification des compétences.</li>											
												<li><i class="fa fa-check-square-o"></i>Construction-stabilisation d'un projet.</li>											
												<li><i class="fa fa-check-square-o"></i>Clôture d'un Bilan, rédaction d'une synthèse.</li>											
										</ul>
									</div>
								</div><br>
								<div class="education-main-section"><h3>NOS SERVICES DE GESTION DE CARRIÈRE PROFESSIONNELLE</h3>
												<div class="row">
													
													<div class="col-md-12">
														<div class="education-course education-course-grid">
															<ul class="row">
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="{{ asset('img/illustration/carousel_bilan-competences.jpg') }}" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">BILAN DE COMPÉTENCES </a></h5>
																		<p>Le bilan de compétences permet au salarié de faire un point sur ses compétences, aptitudes, motivations et de définir un projet professionnel.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="{{ asset('img/illustration/carousel_vae.jpg') }}" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">VALIDATION DES AQUIS (VAE) </a></h5>
																		<p>La VAE est un dispositif qui permet l'obtention de tout ou partie d'une certification non salariée, bénévole, volontaire.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="{{ asset('img/illustration/carousel_maintien-emploi.jpg') }}" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">MAINTIEN DE L'EMPLOI </a></h5>
																		<p>Le bilan maintien dans l'emploi vise à mobiliser différentes actions pour la mise en oeuvre de solutions en vue de préserver l'emploi.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="{{ asset('img/illustration/carousel_coaching.jpg') }}" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">COACHING </a></h5>
																		<p>L'accompagnement coaching permet de développer le potentiel personnel et les performances dans les domaines du management, etc...</p>
																	</div>
																</li>
															</ul>
														</div>
													</div>

												</div>
									</div>
                            </div> 
{% endblock %}