        {% extends '::base.html.twig' %}
        {% block title %}ALT-RH CONSULTING - Accueil{% endblock %} 
      
        {% block body %}
    <style>

        .bgi-info1 {
         display: none;
        }
        .bgi-info2 {
         display: none;
        }
        .bgi-info3 {
         display: none;
        }
        .bgi-info4 {
         display: none;
        }
        .bgi-info5 {
         display: none;
        }
        .bgi-info6 {
         display: none;
        }
        .bgi-info7 {
         display: none;
        }
        .bgi-info8 {
         display: none;
        }
        .bgi-info9 {
         display: none;
        }
    </style>
        <!--// Main Banner \\-->
        <div class="education-banner">

            <!--// Slider \\-->
            <div class="education-banner-one">
                <div class="education-banner-one-layer">
                    <img src="{{ asset('img/slider/bg-01.jpg') }}" width="1920" height="840" alt="">
                    <div class="education-banner-caption">
                        <span class="education-bgcolor">Accelérateur de carriere</span>
                        <br>
                        <span class="education-bgcolor banner-title">Booster vos competences</span>
                    </div>
                    <div class="education-banner-thumb"> <img src="{{ asset('img/slider/slide-man-2.png') }}" height="60" alt=""> </div>
                </div>
                <div class="education-banner-one-layer">
                    <img src="{{ asset('img/slider/bg-02.jpg')}}" width="1920" height="840" alt="">
                    <div class="education-banner-caption">
                        <span class="education-bgcolor">Le centre de formation par excellence</span>
                        <br>
                        <span class="education-bgcolor banner-title">Bienvenue dans ALT RH</span>
                    </div>
                    <div class="education-banner-thumb"> <img src="{{ asset('img/slider/business-woman.png') }}" height="80" alt=""> </div>
                </div>
            </div>
            <!--// Slider \\-->
            
        </div>
        <!--// Main Banner \\--> 
         <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                               
                                <h2>PRESENTATION GENERALE</h2>
                            </div>
                            <div class="education-course education-modren-course">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{ asset('img/illustration/presentation.jpg') }}"  width= "360" height="200" alt="">
                                            
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>PRESENTATION</h5>
                                                
                                                <p>Constamment en quête de l'excellence dans l'accompagnement en gestion de carrière, notre ambition est de placer l'humain au coeur de l'entreprise sur la base des compétences acquises et mobilisables.</br>

                                                Engagés dans la réinsertion professionnelle, nous contribuons à la performance des entreprises par l'optimisations des ressources humaines dans leur diversité et leur complémentarité.</br>
                                                </p>
                                                <div class="box">
                                                    <p class="bgi-info1">
                                                        Fort d'un département dédié au handicap, nous accompagnons également les entreprises dans la mise en place d'une politique RH intégrant le recrutement et le maintien dans l'emploi des collaborateurs en situation de handicap. </br>

                                                        La chaîne unifiée de compétences de nos consultants permet au cabinet ALT-RH CONSULTING de s'organiser autour de 5 principaux Pôles d'expertise.</br>
                                                    </p>
                                                    <p>
                                                        <a class="btn" id="1" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <figure><img src="{{ asset('img/illustration/equipe-experts.jpg') }}" width="360" height="200" alt=""> 
                                            
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>UNE EQUIPE D'EXPERT A VOTRE SERVICE</h5>
                                               
                                                <p>Notre réussite est en grande partie liée à la qualité de notre équipe, construite autour de consultants confirmés volontaires et enthousiastes, riches d’expériences professionnelles diversifiées et complémentaires.</br>

                                                Notre implication à vos cotés s’inscrit dans une relation de confiance, de continuité, de proximité,fondée sur une éthique référant aux meilleurs pratiques de nos métiers.</br>
                                                
                                                <div class="box">
                                                    <p class="bgi-info2">
                                                        La dimension humaine qui caractérise nos rapports avec nos partenaires est un atout supplémentaire qui favorise la réactivité, la flexibilité et l'adaptabilité de nos propositions.</br>

                                                        Notre équipe vous garantie une rigueur dans les démarches et les relations fondée sur la transparence avec une déontologie et une constante dans nos méthodes (certification NF).
                                                    </p>
                                                    <p>
                                                        <a class="btn" id="2" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                                
                                    <li class="col-md-4">
                                        <figure><img src="{{ asset('img/illustration/engagement.jpg') }}" width= "360" height="200" alt=""> 
                                            
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>UNE DÉMARCHE ÉTHIQUE ET DÉANTOLOGIQUE</h5>
                                               
                                                <p>Notre démarche est fondée sur les principes de confidentialité, de rigueur, d'accompagnement et d'exigence.</br>

                                                La Charte de la diversité adoptée par chaque membre de l'équipe du cabinet ALT-RH CONSULTING a pour objet de témoigner de notre engagement en faveur de la diversité dans nos relations avec nos partenaires publics ou privés.</br>
                                                </p>
                                                <div class="box">
                                                    <p class="bgi-info3">
                                                        Nous nous engageons à respecter et promouvoir l'application du principe de non–discrimination sous toutes ses formes et dans toutes les étapes de gestion des ressources humaines que sont notamment l'embauche, la formation, l'avancement ou la promotion professionnelle des collaborateurs.

                                                        Nous cherchons à refléter la diversité de la société française et notamment sa diversité culturelle et ethnique dans notre effectif, aux différents niveaux de qualification. C'est pourquoi nous communiquons auprès de l'ensemble de nos collaborateurs notre engagement en faveur de la non–discrimination et de la diversité et nous faisons de l'élaboration et de la mise en oeuvre de cette politique de diversité un objet de dialogue avec les représentants des personnels.
                                                    </p>
                                                    <p>
                                                        <a class="btn" id="3" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        <!--// Main Content \\-->
        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <!--// Services \\-->
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <span></span>
                                <h2>NOS SERVICES</h2>
                            </div>
                            <div class="education-service education-service-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class=" icon-old-fashion-briefcase"></i>
                                            <h6><a href="">GESTION DE CARRIERE ET ASSESSMENT</a></h6>
                                            <p>ALT-RH CONSULTING Expert en valorisation et en transférabilité des compétences</p>
                                            <div class="box">
                                                <p class="bgi-info4">
                                                    professionnelles, met ses outils de diagnostic et d'accompagnement au service de la gestion des compétences et de carrière qui s'inscrivent dans la logique de l'évolution du marché local, national et international.
                                                </p>
                                                <p>
                                                    <a class="btn" id="4" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-calculate"></i>
                                            <h6><a href="service-detail">FORMATION PROFESSIONNELLE</a></h6>
                                            <p>En tant qu'organisme de formation ALT-RH CONSULTING propose une palette de</p>
                                            <div class="box">
                                                <p class="bgi-info5">
                                                    formations axées sur la gestion de carrière, le handicap, le Management, la comptabilité, les NTIC et les Compétences Commerciales, pour tous les publics à travers des méthodes pédagogiques reconnues et originales!
                                                </p>
                                                <p>
                                                    <a class="btn" id="5" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-flask-outline"></i>
                                            <h6><a href="service-detail">CONSULTING HANDICAP ET DIVERSITE</a></h6>
                                            <p>Dès sa création, le cabinet ALT-RH Consulting a développé une véritable culture</p>
                                            <div class="box">
                                                <p class="bgi-info6">
                                                    de solidarité et s'est engagé dans une démarche d'intégration du handicap et de la diversité en entreprise.
                                                </p>
                                                <p>
                                                    <a class="btn" id="6" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                </p><br><br>
                                            </div>
                                        </div>
                                    </li>
                                     <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-pencil-and-ruler-cross-of-school-materials"></i>
                                            <h6><a href="service-detail">RECRUTEMENT ET OUTPLACEMENT</a></h6>
                                            <p>ALT-RH CONSULTING c'est aussi plusieurs centaines de recrutements par an, en mode</p>
                                            <div class="box">
                                                <p class="bgi-info7">
                                                    Projet, pour toutes les fonctions et niveaux de postes, dans de nombreux secteurs d'activité.
                                                </p>
                                                <p>
                                                    <a class="btn" id="7" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-computer-mouse"></i>
                                            <h6><a href="service-detail">CREATION ET REPRISE D'ENTREPRISE</a></h6>
                                            <p>ALT-RH CONSULTING vous propose d'être accompagné par des consultants, coachs</p>
                                            <div class="box">
                                                <p class="bgi-info8">
                                                    spécialisés et experts comptables afin de concrétiser votre projet entrepreneurial et vous faciliter la création ou la reprise de votre entreprise.
                                                </p>
                                                <p>
                                                    <a class="btn" id="8" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-molecule"></i>
                                            <h6><a href="service-detail">OFFRE D'EMPLOI</a></h6>
                                            <p>Vous cherchez de nouvelles opportunités professionnelles en France ou à </p>
                                            <div class="box">
                                                <p class="bgi-info9">
                                                    l'international pour accélérer votre carrière et souhaitez bénéficier de l’appui d’un cabinet de conseil en ressources humaines, nous vous accompagnons dans vos démarches avec éthique et engagement.
                                                </p>
                                                <p>
                                                    <a class="btn" id="9" onclick="$(this).parent().hide();">Lire plus <i class="fa fa-arrow-circle-o-right"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!--// Services \\-->

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->


            <!--// Main Section \\-->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script>
                $('#1').click(function(){
                 $('.bgi-info1').slideDown();

                });
                $('#2').click(function(){
                 $('.bgi-info2').slideDown();
                });
                $('#3').click(function(){
                 $('.bgi-info3').slideDown();
                });
                $('#4').click(function(){
                 $('.bgi-info4').slideDown();
                });
                $('#5').click(function(){
                 $('.bgi-info5').slideDown();
                });
                $('#6').click(function(){
                 $('.bgi-info6').slideDown();
                });
                $('#7').click(function(){
                 $('.bgi-info7').slideDown();
                });
                $('#8').click(function(){
                 $('.bgi-info8').slideDown();
                });
                $('#9').click(function(){
                 $('.bgi-info9').slideDown();
                });
            </script>
             
        {% endblock %}

