<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Education Shop Detail</title>

    <!-- Css Files -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/flaticon.css" rel="stylesheet">
    <link href="css/slick-slider.css" rel="stylesheet">
    <link href="css/fancybox.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/color.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	
    <!--// Main Wrapper \\-->
    <div class="education-main-wrapper">

        <!--// Header \\-->
        <header id="education-header" class="education-header-one">
            
            <!--// TopStrip \\-->
            <div class="education-top-strip education-bgcolor">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-6">
                            <ul class="education-userinfo">
                                <li><i class="fa fa-clock-o"></i> 08:00 am - 06:00 pm</li>
                                <li><i class="fa fa-phone"></i> +123 456 789</li>
                            </ul>
                        </aside>
                        <aside class="col-md-6">
                            <ul class="education-user-section">
                                <li>
                                    <div class="education-language">
                                        <ul>
                                            <li> <a href="#"><i class="fa fa-globe"></i> English</a>
                                                <ul class="education-language-menu">
                                                    <li><a href="#">English</a></li>
                                                    <li><a href="#">Arabic</a></li>
                                                    <li><a href="#">Farsi</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li> <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i> Login</a></li>
                                <li> <a href="#" data-toggle="modal" data-target="#signupModal"><i class="fa fa-sign-in"></i> Sign Up</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// TopStrip \\-->

            <!--// MainHeader \\-->
            <div class="education-main-header">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Home</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-two.html">Home Two</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="#">events</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="event-grid.html">Event Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="event-grid.html">Event Grid W/O/S</a></li>
                                                    <li><a href="event-grid-wls.html">Event Grid W/L/S</a></li>
                                                    <li><a href="event-grid-wrs.html">Event Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="event-list.html">Event List</a></li>
                                            <li><a href="event-list-wls.html">Event List W/L/S</a></li>
                                            <li><a href="event-medium.html">Event Medium</a></li>
                                            <li><a href="event-detail.html">Event Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="event-detail-wls.html">Event Detail W/L/S</a></li>
                                                    <li><a href="event-detail.html">Event Detail W/R/S</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blogs</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="blog-grid.html">Blog Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="blog-grid.html">Blog Grid W/O/S</a></li>
                                                    <li><a href="shop-grid-wls.html">Blog Grid W/L/S</a></li>
                                                    <li><a href="shop-grid-wrs.html">Blog Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-large.html">Blog Large</a></li>
                                            <li><a href="blog-large-wls.html">Blog Large W/L/S</a></li>
                                            <li><a href="blog-medium.html">Blog Medium</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="blog-detail.html">Blog Detail W/R/S</a></li>
                                                    <li><a href="blog-detail-wls.html">Blog Detail W/L/S</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> 
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                        <aside class="col-md-2"><a href="index.html" class="education-logo"><img src="images/logo.png" alt=""></a></aside>
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                  <ul class="nav navbar-nav">
                                    <li><a href="#">courses</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="course-grid.html">Course Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="course-grid.html">Course Grid W/O/S</a></li>
                                                    <li><a href="course-grid-wls.html">Course Grid W/L/S</a></li>
                                                    <li><a href="course-grid-wrs.html">Course Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="course-modren.html">Course Modren</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="course-modren.html">Course Modren W/O/S</a></li>
                                                    <li><a href="course-modren-wls.html">Course Modren W/L/S</a></li>
                                                    <li><a href="course-modren-wrs.html">Course Modren W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="course-list.html">Course List</a></li>
                                            <li><a href="course-list-wls.html">Course List W/L/S</a></li>
                                            <li><a href="course-detail.html">Course Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="course-detail.html">Course Detail W/R/S</a></li>
                                                    <li><a href="course-detail-wls.html">Course Detail W/L/S</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Shop</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="shop-grid.html">Shop Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="shop-grid.html">Shop Grid W/O/S</a></li>
                                                    <li><a href="shop-grid-wls.html">Shop Grid W/L/S</a></li>
                                                    <li><a href="shop-grid-wrs.html">Shop Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-list.html">Shop List</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="shop-list.html">Shop List W/O/S</a></li>
                                                    <li><a href="shop-list-wls.html">Shop List W/L/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-detail.html">Shop Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="shop-detail.html">Shop Detail W/R/S</a></li>
                                                    <li><a href="shop-detail-wls.html">Shop Detail W/L/S</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="team-grid.html">Team Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="team-grid.html">Team Grid W/O/S</a></li>
                                                    <li><a href="team-grid-wls.html">Team Grid W/L/S</a></li>
                                                    <li><a href="team-grid-wrs.html">Team Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="search-result.html">Search Result</a></li>
                                            <li><a href="gallery.html">Gallery 4 Column</a></li>
                                            <li><a href="gallery-view-two.html">Gallery 3 Column</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact us</a></li> 
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// MainHeader \\-->

        </header>
        <!--// Header \\-->

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>BILAN DE COMPÉTENCES</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
							<li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Gestion de carrière</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Validation des aquis de l'experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
					<div class="row">
						
						<div class="col-md-12">
                            <div  style="margin-left:200px;" class="education-shopwrap">
                                <figure><a href="shop-detail.html"><img src="img/illustration/validation-des-aquis-de-experience.jpg" alt=""></a></figure>
                                <div class="education-shop-detail-text">
                                    <h4><a href="shop-detail.html">VALIDATION DES AQUIS DE L'EXPERIENCE </a></h4>
                                    <p>La VAE est un dispositif qui permet l'obtention de tout ou partie d'une certification (diplôme, titre à finalité professionnelle ou certificat de qualification professionnelle) à partir d'une expérience professionnelle salariée, non salariée (commerçant, collaborateur de commerçant, profession libérale, agriculteur ou artisan...) et/ou bénévole (syndicale, associative) et/ou volontaire.<br>

										Cette expérience, en lien avec la certification visée, est validée par un jury. Les certifications,enregistrées au Répertoire National des Certifications Professionnelles (RNCP), sont accessibles par la VAE.<br>

										La VAE est une démarche de plus en plus sollicitée lorsqu'on veut évoluer professionnellement.<br>

										La VAE est l'occasion d'un véritable remaniement intérieur, un travail sursoi qui va vous permettre d'acquérir une autre identité, une reconnaissance, une nouvelle forme d'appartenance à une famille professionnelle, une rencontre.<br>
									</p>
                                </div>
								<div class="row">
								<div class="education-section-heading"><h2>OBJECTIFS</h2></div>
									<div class="col-md-5">
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Repérer le diplôme le plus adapté.</li>
												<li><i class="fa fa-check-square-o"></i>Etablir un lien entre les situations de travail que vous avez vécues et le référentiel de certification d'un diplôme, titre ou qualification à caractère professionnel, référencé au RNCP.</li>
												<li><i class="fa fa-check-square-o"></i>S'approprier et s'autoriser à considérer ses expériences en termes de connaissances</li>	
												<li><i class="fa fa-check-square-o"></i>Etre soutenu dans les moments délicats du processus d'étayage.</li>
												<li><i class="fa fa-check-square-o"></i>Rédiger son dossier normé VAE.</li>	
												<li><i class="fa fa-check-square-o"></i>Se préparer à l'entretien avec le jury.</li>	
															
										</ul>
									</div>
									<div class="col-md-6">
										<div class="education-event-organizer">
											<div class="education-section-heading"><h2>DURÉE </h2></div>
											<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Cet accompagnement se déroule en 4 phases d'une durée maximale de 24 heures.</li>
											</ul>
											
											<div class="education-section-heading"><br><h2>PUBLIC </h2></div>
											<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Toute personne, quels que soient son âge, sa nationalité, son statut et son niveau de formation, ayant au moins trois ans d'expérience salariée, non salariée ou bénévole.</li>
												<li><i class="fa fa-check-square-o"></i>L'activité exercée doit correspondre au contenu du diplôme.</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="education-section-heading"><h2>DÉROULEMENT DU BILAN DE COMPÉTENCES :</h2></div>
								<div class="row">
									<div class="col-md-5">
									<p>Si vous êtes salarié, vous pouvez obtenir une prise en charge :</p>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Au titre du en congé VAE : la demande de financement est faite auprès de l’OPACIF dont votre entreprise dépend.</li>
												<li><i class="fa fa-check-square-o"></i>Dans le cadre du Plan de formation de votre entreprise, la demande est à formuler auprès de votre employeur.</li>
												<li><i class="fa fa-check-square-o"></i>Vous pouvez utiliser vos droits acquis dans le cadre du DIF.</li>											
										</ul>
									</div>
									<div class="col-md-5">
										<ul class="education-list-style-two">
										<p>Si vous êtes demandeur d'emploi, vous pouvez bénéficier de différents financements permettant, sous certaines conditions, d'assurer la gratuité du parcours VAE :</p>
												<li><i class="fa fa-check-square-o"></i>L'aide du Pôle Emploi (complémentaire de l’aide régionale).</li>
												<li><i class="fa fa-check-square-o"></i>L'aide régionale : les conseil régionaux proposent une aide financière pour les demandeurs d'emploi.</li>
												<li><i class="fa fa-check-square-o"></i>L'aide de l'Etat pour obtenir un titre professionnel du Ministère chargé de l'emploi ou pour participer à des actions spécifiques départementales.</li>										
										</ul>
									</div>
								</div><br>
								<div class="education-main-section"><h3>NOS SERVICES DE GESTION DE CARRIÈRE PROFESSIONNELLE</h3>
												<div class="row">
													
													<div class="col-md-12">
														<div class="education-course education-course-grid">
															<ul class="row">
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_bilan-competences.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">BILAN DE COMPÉTENCES </a></h5>
																		<p>Le bilan de compétences permet au salarié de faire un point sur ses compétences, aptitudes, motivations et de définir un projet professionnel.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_bilan-mi-carriere.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">BILAN MI-CARRIÈRE </a></h5>
																		<p>Le bilan mi-carrière permet de faire le point sur son parcours professionnel et de réfléchir sur ses perspectives d'évolutions.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_maintien-emploi.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">MAINTIEN DE L'EMPLOI </a></h5>
																		<p>Le bilan maintien dans l'emploi vise à mobiliser différentes actions pour la mise en oeuvre de solutions en vue de préserver l'emploi.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_coaching.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">COACHING </a></h5>
																		<p>L'accompagnement coaching permet de développer le potentiel personnel et les performances dans les domaines du management, de la communication, etc...</p>
																	</div>
																</li>
															</ul>
														</div>
													</div>

												</div>
										</div>
                            </div> 
							<div class="education-main-section education-partner-full">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<div class="education-fancy-title">
														<i class="fa fa-graduation-cap"></i>
														<h2>Nos PARTENAIRES</h2>
													</div>
													<div class="education-partner">
														<ul>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-oseo.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-afdas.jpg') }}"   alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-agefiph.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-apec.jpg') }}"   alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-banque-credit-agricole.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-banque-lcl.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-enrope-sengage-en-france.jpg') }}"   alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-centre-inffo.jpg') }}" alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-fafsea.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-ffp.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-fongecif.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-france-initiative.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-opcalia.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-pole-emploi.jpg') }}"   alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-unifaf.jpg') }}"  alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-uniformation.jpg') }}"   alt=""></a></li>
															<li><a href="404"><img src="{{ asset('img/partenaires/partenaire-val-d-oise-departement.jpg') }}"  alt=""></a></li>

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
                            <!--// Tabs \\-->

                        </div>

					</div>
			</div>
			<!--// Main Section \\-->

		</div>
		<!--// Main Content \\-->

        <!--// Footer \\-->
        <footer id="education-footer" class="education-footer-one">
            <span class="education-footer-pattren"></span>
            
            <!--// Footer Widget \\-->
            <div class="education-footer-widget">
                <div class="container">
                    <div class="row">
                        <!--// Widget Contact Info \\-->
                        <aside class="col-md-4 widget widget_contact_info">
                            <a href="index.html" class="education-footer-logo"><img src="images/footer-logo.png" alt=""></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat urna non ipsum maxim us malesuada.</p>
                            <ul>
                                <li><i class="education-color fa fa-home"></i> 195 Cooks Mine Road Espa nola, NM 87532</li>
                                <li><i class="education-color fa fa-phone"></i> +123 45 678 - 00 913 2245 <br>678</li>
                                <li><i class="education-color fa fa-envelope"></i> <a href="mailto:name@email.com">info@example.com - </a> <a href="mailto:name@email.com">example@abc.com</a></li>
                            </ul>
                        </aside>
                        <!--// Widget Contact Info \\-->
                        <!--// Widget Featured Courses \\-->
                        <aside class="col-md-4 widget widget_featured_courses">
                            <div class="education-footer-title"> <h4>Featured Courses</h4> </div>
                            <ul>
                                <li>
                                    <figure><a href="course-detail.html"><img src="extra-images/widget-featured-courses-1.jpg" alt=""></a>
                                        <figcaption>
                                            <h6><a href="course-detail.html">Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a></h6>
                                            <div class="star-rating"><span class="star-rating-box" style="width:54%"></span></div>
                                            <small>( 12 Reviews )</small>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="course-detail.html"><img src="extra-images/widget-featured-courses-2.jpg" alt=""></a>
                                        <figcaption>
                                            <h6><a href="course-detail.html">Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a></h6>
                                            <div class="star-rating"><span class="star-rating-box" style="width:34%"></span></div>
                                            <small>( 12 Reviews )</small>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="course-detail.html"><img src="extra-images/widget-featured-courses-3.jpg" alt=""></a>
                                        <figcaption>
                                            <h6><a href="course-detail.html">Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a></h6>
                                            <div class="star-rating"><span class="star-rating-box" style="width:85%"></span></div>
                                            <small>( 12 Reviews )</small>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </aside>
                        <!--// Widget Featured Courses \\-->
                        <!--// Widget Gallery \\-->
                        <aside class="col-md-4 widget widget_gallery">
                            <div class="education-footer-title"> <h4>Flicker Images</h4> </div>
                            <ul>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" class="fancybox"><img src="extra-images/widget-gallery-1.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-2.jpg" class="fancybox"><img src="extra-images/widget-gallery-2.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-3.jpg" class="fancybox"><img src="extra-images/widget-gallery-3.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-4.jpg" class="fancybox"><img src="extra-images/widget-gallery-4.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-5.jpg" class="fancybox"><img src="extra-images/widget-gallery-5.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-6.jpg" class="fancybox"><img src="extra-images/widget-gallery-6.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-7.jpg" class="fancybox"><img src="extra-images/widget-gallery-7.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-8.jpg" class="fancybox"><img src="extra-images/widget-gallery-8.jpg" alt=""></a></li>
                            </ul>
                        </aside>
                        <!--// Widget Gallery \\-->
                    </div>
                </div>
            </div>
            <!--// Footer Widget \\-->

            <!--// CopyRight \\-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-copyright">
                            <p>© 2017, All Right Reserved - by <a href="index.html">EyeCix</a></p>
                            <ul>
                                <li><a href="404.html">Privacy</a></li>
                                <li><a href="404.html">Terms</a></li>
                                <li><a href="404.html">Sitemap</a></li>
                                <li><a href="404.html">Purchase</a></li>
                            </ul>
                            <a href="#" class="education-back-top"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// CopyRight \\-->

        </footer>
        <!--// Footer \\-->

        <!--// Footer Parallax \\-->
        <div class="education-parallax">
            <span class="education-footer-pattren"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Get the Coaching Training for Free</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tincidunt orci lacus, id varius.</p> <br>
                        <a href="#">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!--// Footer Parallax \\-->

	<div class="clearfix"></div>
    </div>
    <!--// Main Wrapper \\-->

    <!-- LoginModal -->
    <div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="education-login-box">
                <a href="#" data-dismiss="modal" class="education-login-close"><i class="icon-uniF106"></i></a>
                <h4>Login To Your Account</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }">
                    <a href="#">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign In"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="education-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li class="education-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="#" class="education-color">Sign - Up Now !</a></p>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>

    <!-- SignupModal -->
    <div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="education-login-box">
                <a href="#" data-dismiss="modal" class="education-login-close education-color"><i class="icon-uniF106"></i></a>
                <h4>Sign Up Now</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="text" value="Type your password*" onblur="if(this.value == '') { this.value ='Type your password*'; }" onfocus="if(this.value =='Type your password*') { this.value = ''; }">
                    <input type="text" value="Confirm your password*" onblur="if(this.value == '') { this.value ='Confirm your password*'; }" onfocus="if(this.value =='Confirm your password*') { this.value = ''; }">
                    <a href="#">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign Up"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="education-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li class="education-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="#" class="education-color">Login - Now !</a></p>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>


	<!-- jQuery (necessary for JavaScript plugins) -->
	<script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/bootstrap.min.js"></script>
    <script type="text/javascript" src="script/slick.slider.min.js"></script>
    <script type="text/javascript" src="script/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="script/fancybox.pack.js"></script>
    <script type="text/javascript" src="script/progressbar.js"></script>
    <script type="text/javascript" src="script/counter.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="script/functions.js"></script>

  </body>
</html>